[Desktop Entry]
Name=Mural
Comment=Wallpaper Manager
Exec=/usr/bin/mural-launcher
Icon=io.github.gaorfgbit.Mural
Type=Application
Terminal=false
Categories=Utility;Settings;
StartupNotify=true
StartupWMClass=io.github.gaorfgbit.Mural
DBusActivatable=true
Keywords=wallpaper;background;
